# Python cache files
models/__pycache__/
models/engine/__pycache__/
tests/test_models/__pycache__/
tests/test_models/test_engine/__pycache__/
file.json
test_params_create 
.vscode/
main_delete.py
*.pyc
backuptTEST.sql
